#sub-footer{
	@include container;
	@include inputs;
	@include buttons;
	@include colsix;
	@include colfive;
	@include coltwelve;
	@include row;
	background-color: lighten($pink,5);
}

#subfooter-header{
	font-family: 'Baloo Bhaina', cursive;
	background-color: darken($pink,2);
	border-bottom: 3px dashed white;
	h1{
		margin: 0;
		color: lighten(yellow,9);
	}
	h5{
		color: white;
		margin: 0px;
		border-left:3px solid white;
		padding-left: 5px;
		font-family: 'Ubuntu', sans-serif;
	}
}

#footer{
	@include colsix;
	@include container;
	@include row;
	border-top: 2px yellow solid;
	background-color: darken($pink,9);	
	font-family: 'Roboto', sans-serif;
	h3{
		color: white;
		margin: 0;
		font-family: 'Ubuntu', sans-serif;
	}
	i{
		font-size: 30px;
	}
	p{
		padding-left: 5px;
		color: $black;
		margin: 0;
		font-size: 14px;
	}
	a{
		color: $black;
		&:hover{
			color: lighten(yellow,5);
		}
	}
}

#footer-footer{
	background-color: darken($pink,10);
	h4{
		margin: 0;
		padding: 10px;
		text-align: center;
		color: lighten($pink, 5);
		font-family: 'Baloo Bhaina', cursive;
		font-size: 14px;
	}
}