@mixin inputs{
	input, textarea{
		border-radius: 3px;	
		border: 1px lightgray solid;
		margin: 1%;
		font-family: 'Roboto', sans-serif;
		width: 100%;
	}
	input{
		line-height: 2rem;
	}
	label{
		margin-left: 1%;
		font-family: 'Roboto', sans-serif;
		color: $black;
		padding-top: 20px;
		font-size: 12px;
	}

}